services:
  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - DB_HOST=db  

  db:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: root 
      MARIADB_DATABASE: marketplace  
      MARIADB_USER: root  
      MARIADB_PASSWORD: root  
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
