.container {
    max-width: 31.25rem;
    min-width: 20rem;
    margin-top: 3.25rem;
    padding: 1.25rem;
    background-color: #121212;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.5);
}

h1 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 2rem;
}

.form-control {
    background-color: #121212;
    color: #fff;
    border: 1px solid #444;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-control:focus {
    color: rgba(255, 255, 255, 1.0);
    background-color: #121212;
}