{% extends "base.html" %}

{% block title %}Marketplace{% endblock %}

{% block navbar %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block content %}
<div class="slogan-container">
    <div>
        <h1>Marketplace</h1>
        <h2>Trade Cryptocurrencies with Ease</h2>
    </div>
</div>

<div class="btn-container">
    <a href="{{ url_for('signup') }}" class="btn-signup">Sign up</a>
    <a href="{{ url_for('login') }}" class="btn-login">Login</a>
</div>
{% endblock %}

{% block landing_footer %}
<a href="{{ url_for('terms') }}">Terms of Service</a>
<a href="{{ url_for('privacy') }}">Privacy</a>
<a href="{{ url_for('cookies') }}">Cookies</a>
{% endblock %}