{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block navbar %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset-password.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Reset Your Password</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    <div class="alert alert-dismissible fade show" role="alert">
        {% for category, message in messages %}
        <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <form action="{{ url_for('reset_password.reset_user_password') }}" method="POST">
        <div class="form-group">
            <div>
                <input type="email" id="email" name="email" class="form-control" required placeholder="Your email"
                    value="{{ request.form.email }}">
            </div>
        </div>
        <div class="btn-container">
            <input type="submit" class="btn btn-primary" value="Send Reset Link">
        </div>
    </form>

    {% if error %}
    <div class="error">
        <p>{{ error }}</p>
    </div>
    {% endif %}

    <div class="message">
        <p>If an account with that email exists, you will receive a password reset link.</p>
    </div>
</div>
{% endblock %}