{% extends "base.html" %}

{% block title %}Trade{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trade.css') }}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="h1">
    <h1 class="display-4">Trade</h1>
    <p class="lead">Trade Cryptocurrencies</p>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

  {% for category, message in messages %}
  <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show"
    role="alert">
    {{ message }}
  </div>
  {% endfor %}

  {% endif %}
  {% endwith %}

  <div class="row mt-4">
    <button class="tab-button active" onclick="showTab('buy')">Buy</button>
    <button class="tab-button" onclick="showTab('sell')">Sell</button>
  </div>

  <div class="trade-form-container" id="buy-form">
    <h2>Buy</h2>
    <form action="{{ url_for('crypto_purchase.purchase_crypto') }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <label for="buy-crypto">Coin:</label>
      <select id="buy-crypto" name="coin-selection" required>
        <option value="BTC">Bitcoin (BTC)</option>
        <option value="ETH">Ethereum (ETH)</option>
        <option value="LTC">Litecoin (LTC)</option>
      </select>

      <label for="buy-amount">Amount:</label>
      <input type="number" step="any" id="buy-amount" name="coin-amount" placeholder="Enter amount" required>

      <label for="total-cost">Total Cost:</label>
      <input type="text" id="total-cost" name="total-cost" readonly>

      <div class="submit-button-container">
        <button type="submit" id="buy-submit-button" class="btn btn-primary">Place Order</button>
      </div>
    </form>
  </div>

  <div class="trade-form-container" id="sell-form" style="display: none;">
    <h2>Sell</h2>
    <form action="{{ url_for('crypto_liquidation.liquidate_crypto') }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <label for="sell-crypto">Coin:</label>
      <select id="sell-crypto" name="coin-selection" required>
        <option value="BTC">Bitcoin (BTC)</option>
        <option value="ETH">Ethereum (ETH)</option>
        <option value="LTC">Litecoin (LTC)</option>
      </select>

      <label for="sell-amount">Amount:</label>
      <input type="number" step="any" id="sell-amount" name="coin-amount" placeholder="Enter amount" required>

      <label for="total-worth">Total Worth:</label>
      <input type="text" id="total-worth" name="total-worth" readonly>

      <div class="submit-button-container">
        <button type="submit" id="sell-submit-button" class="btn btn-primary">Place Order</button>
      </div>
    </form>
  </div>
</div>

{% block additional_scripts %}

<script src="{{ url_for('static', filename='js/trade-switch-tabs.js') }}"></script>

{% endblock %}
{% endblock %}